<div js-current-page="{{ currentPage }}" js-last-page="{{ lastPage }}">
{% for channel in channels %}
    <div><input type="checkbox" name="channel" {% if channel.channelUser is not null %} checked {% endif %} value="{{ channel.id }}">{{ channel.code }}</div>
{% endfor %}
</div>